* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 1rem;
}

body {
  background: linear-gradient(to right, #daeeff, #f4f9ff);
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table img {
  max-width: 200px;
}

th, td {
  border: 2px solid #000;
  padding: 0.25rem 0.5rem;
}

th {
  background-color: #555555;
  color: #f9fcff;
}

a:hover {
  color: #1e9aff;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section div {
  padding: 0 2rem;
}

.title {
  background: linear-gradient(to right, #1e9aff, #f4f9ff);
  color: #f9fcff;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.bio {
  font-size: 1.25rem;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.titleTable {
  margin-top: 2rem;
}

.list li + li {
  margin-top: 0.75rem;
}

.list {
  margin-bottom: 2rem;
}

.modal {
  display: none;
}

.show {
  display: block;
}

#buttonModal {
  display: block;
  background-color: #1e9aff;
  color: #f9fcff;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

#buttonModal:hover {
  background-color: #168ced;
}
